# Django defaults
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual Environment (PENTING BIAR GAK BERAT)
venv/
env/

# Editor config
.vscode/
.idea/

# Environment variables (PENTING BUAT KEAMANAN)
.env